# From http://gary-rowe.com/agilestack/2012/10/12/a-gitignore-file-for-intellij-and-eclipse-with-maven/
# Eclipse
.classpath
.project
.settings/
classes/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# apche cli
lib/commons-cli-1.2-bin/commons-cli-1.2/apidocs